<!DOCTYPE html>
<html>
<head>
  <meta name="title" content="බත්තලංගුණ්ඩුව සංවත්සර විශේෂ මුද්‍රණය">
  <title>බත්තලංගුණ්ඩුව සංවත්සර විශේෂ මුද්‍රණය</title>
  <meta name="description" content="මංජුල වෙඩිවර්ධනගේ ‘බත්තලංගුණ්ඩුව’ දශක පූර්ණ සංවත්සර සැමරුම (2007–2018) වෙනුවෙන් කෙරන විශේෂ මුද්‍රණය පිලිබඳව මේ තොරතුරු අප ඔබ හමුවේ තබන්නේ ඉමහත් උද්යෝගයෙන්. විශිෂ්ඨ සාහිත්‍යමය නිර්මාණයක් ලෙස පාඨක ඔබ අාදරයෙන් වැළඳගත්
    බත්තලංගුණ්ඩුව, එහි ප්‍රථම මුද්‍රණයෙන් දශකයක් ඉක්ම යන මොහොතේ තවත් ඔබට සමීප කරන්නයි මේ වෑයම.">
  <meta property="fb:admins" content="1492908859" />
  <meta property="og:image" content="http://mooniak.com/editions/images/gunduwa_promo.png" />
  <meta property="og:title" content="බත්තලංගුණ්ඩුව සංවත්සර විශේෂ මුද්‍රණය " />
  <meta property="og:description" content="මංජුල වෙඩිවර්ධනගේ ‘බත්තලංගුණ්ඩුව’ දශක පූර්ණ සංවත්සර සැමරුම (2007–2018) වෙනුවෙන් කෙරන විශේෂ මුද්‍රණය පිලිබඳව මේ තොරතුරු අප ඔබ හමුවේ තබන්නේ ඉමහත් උද්යෝගයෙන්. විශිෂ්ඨ සාහිත්‍යමය නිර්මාණයක් ලෙස පාඨක ඔබ අාදරයෙන් වැළඳගත්
    බත්තලංගුණ්ඩුව, එහි ප්‍රථම මුද්‍රණයෙන් දශකයක් ඉක්ම යන මොහොතේ තවත් ඔබට සමීප කරන්නයි මේ වෑයම." />
  <meta property="og:site_name" content="බත්තලංගුණ්ඩුව සංවත්සර විශේෂ මුද්‍රණය " />
  <meta property="og:type" content="website" />
  <meta itemprop="name" content="බත්තලංගුණ්ඩුව සංවත්සර විශේෂ මුද්‍රණය ">
  <meta itemprop="description" content="මංජුල වෙඩිවර්ධනගේ ‘බත්තලංගුණ්ඩුව’ දශක පූර්ණ සංවත්සර සැමරුම (2007–2018) වෙනුවෙන් කෙරන විශේෂ මුද්‍රණය පිලිබඳව මේ තොරතුරු අප ඔබ හමුවේ තබන්නේ ඉමහත් උද්යෝගයෙන්. විශිෂ්ඨ සාහිත්‍යමය නිර්මාණයක් ලෙස පාඨක ඔබ අාදරයෙන් වැළඳගත්
    බත්තලංගුණ්ඩුව, එහි ප්‍රථම මුද්‍රණයෙන් දශකයක් ඉක්ම යන මොහොතේ තවත් ඔබට සමීප කරන්නයි මේ වෑයම.">
  <meta itemprop="image" content="http://mooniak.com/editions/images/gunduwa_promo.png">

  <link rel="stylesheet" href="./css/main.css">
  {% include scripts.html %}
{% seo %}
</head>
<body>

      {{ content }}


      <div class="container">

    {% include nav.html %}

  </div>
{% include scripts.html %}
</body>
</html>
